<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @fourteener.name %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @fourteener.surname %>
</p>

<p>
  <strong>Elevation in feet:</strong>
  <%= @fourteener.elevation_in_feet %>
</p>

<p>
  <strong>Rank:</strong>
  <%= @fourteener.rank %>
</p>

<p>
  <strong>Location lat:</strong>
  <%= @fourteener.location_lat %>
</p>

<p>
  <strong>Location long:</strong>
  <%= @fourteener.location_long %>
</p>

<p>
  <strong>Forest:</strong>
  <%= @fourteener.forest %>
</p>

<p>
  <strong>Range:</strong>
  <%= @fourteener.range %>
</p>

<p>
  <strong>Classification:</strong>
  <%= @fourteener.classification %>
</p>

<p>
  <strong>Exposure:</strong>
  <%= @fourteener.exposure %>
</p>

<p>
  <strong>Elevation gain in feet:</strong>
  <%= @fourteener.elevation_gain_in_feet %>
</p>

<p>
  <strong>Round trip distance in miles:</strong>
  <%= @fourteener.round_trip_distance_in_miles %>
</p>

<p>
  <strong>No 4wd additional elevation in feet:</strong>
  <%= @fourteener.no_4wd_additional_elevation_in_feet %>
</p>

<p>
  <strong>No 4wd additional distance in miles:</strong>
  <%= @fourteener.no_4wd_additional_distance_in_miles %>
</p>

<p>
  <strong>Route name:</strong>
  <%= @fourteener.route_name %>
</p>

<p>
  <strong>Trailhead name:</strong>
  <%= @fourteener.trailhead_name %>
</p>

<p>
  <strong>Trailhead lat:</strong>
  <%= @fourteener.trailhead_lat %>
</p>

<p>
  <strong>Trailhead long:</strong>
  <%= @fourteener.trailhead_long %>
</p>

<p>
  <strong>Four x four required:</strong>
  <%= @fourteener.four_x_four_required %>
</p>

<p>
  <strong>Additional info url:</strong>
  <%= @fourteener.additional_info_url %>
</p>

<p>
  <strong>Description:</strong>
  <%= @fourteener.description %>
</p>

<p>
  <strong>Kml:</strong>
  <%= @fourteener.kml %>
</p>

<%= link_to 'Edit', edit_fourteener_path(@fourteener) %> |
<%= link_to 'Back', fourteeners_path %>
