<%= include_gon(:init => true) %>

<div id="map"></div>
  <script>
    function initMap() {
      var map = new google.maps.Map(document.getElementById('map'), {
          mapTypeId: 'terrain'
      });
      var ctaLayer = new google.maps.KmlLayer({
        url: gon.fourteener.kml,
          preserveViewport: false,
        map: map
      });
      google.maps.event.addListenerOnce(map, 'zoom_changed', function() {
        map.setZoom(13);
      });
    }

  </script>
  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBBYkGDkbDQBSWK4WoQM-r8tA5WXkqu_Rw&callback=initMap">
  </script>

  <div id="sidebar">
   <script type="text/javascript">
       if (gon.fourteener.surname == "Mount") {
         var full_name = gon.fourteener.surname +" " +gon.fourteener.name;
       } else if (gon.fourteener.surname == "Peak"){
         var full_name = gon.fourteener.name + " " +gon.fourteener.surname;
       } else if (gon.fourteener.surname == "Mount of the "){
         var full_name = gon.fourteener.surname +" "+gon.fourteener.name;
       } else if (gon.fourteener.surname == "Mountain"){
         var full_name = gon.fourteener.name +" " +gon.fourteener.surname;
       } else if (gon.fourteener.surname == "Needle"){
         var full_name = gon.fourteener.name +" " +gon.fourteener.surname;
       } else if (gon.fourteener.surname == "Point"){
         var full_name = gon.fourteener.name +" " +gon.fourteener.surname;
       } else {
         var full_name = gon.fourteener.name;
       }
       $("#sidebar").prepend("<h2>" + full_name + "</h2>");
       
   </script>
   <h5><%= @fourteener.elevation_in_feet; %> ft. </h5>
   <h6> ranked:  <%= @fourteener.rank; %>/53</h6>
   <h6> national forest: <%= @fourteener.forest; %> </h6>
   <h6> mountain range: <%= @fourteener.range; %> </h6>

   <br>
   <img src="https://raw.githubusercontent.com/elliotwhitehead/SummitPlan/4afd8aa869a0a999cd0583814833745dfe30ff7a/standardRoute.png"
   hspace="50" width="90px" height="45px">
   <h5> <%= @fourteener.trailhead_name; %> Trailhead </h5>
   <h6> <%= @fourteener.trailhead_lat; %>, <%= @fourteener.trailhead_long;%></h6>
   <h6> <%= @fourteener.route_name; %> </h6>
   <h6> Climbing Class:<%= @fourteener.classification; %> </h6>
   <h6> Exposure:<%= @fourteener.exposure; %> </h6>
   <h4> &harrw;  <%= @fourteener.round_trip_distance_in_miles; %> miles roundtrip  </h4>
   <h4>&#10169;  <%= @fourteener.elevation_gain_in_feet; %> foot elevation gain </h4>
   <!-- <h6> if you don't have a four wheel drive capable car </h6> -->






   
   
</div>