<!DOCTYPE html>
<html>
<head>
	<link href="https://raw.githubusercontent.com/elliotwhitehead/SummitPlan/b328da5613cf23a9f89d926b596505a48126f5f6/favicon.ico" rel="shortcut icon" type="image/x-icon" />
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
	<meta charset="utf-8">

	<script
	src="https://code.jquery.com/jquery-1.12.4.min.js"
	integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
	crossorigin="anonymous"></script>

	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

	<!-- Compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
	

	<title>SummitPlan</title>
	<%= csrf_meta_tags %>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
	<div class="flex-container">
		<header>
			<img src="https://github.com/elliotwhitehead/SummitPlan/blob/design/resizedWhiteLogo.png?raw=true" align="left">
			
			<br>
			<h1 style="font-size: 32px; padding-left: 30%;">The perfect tool for summiting Colorado's 14,000 foot peaks.</h1>
			<br>
			<br>
			<svg width="100%" height="70">
				<rect width="100%" height="1000" style="fill:black" />
				<text x="5%" y="45" font-family="Futura" font-size="20" fill="gray">Fourteener Filter</text>
				<text x="30%" y="45" font-family="Futura" font-size="25" fill="white">&#9830</text>
				<text x="40%" y="45" font-family="Futura" font-size="20" fill="gray">Fourteener Profiles</text>
				<text x="65%" y="45" font-family="Futura" font-size="25" fill="white">&#9830</text>
				<text x="75%" y="45" font-family="Futura" font-size="20" fill="gray">Log In</text>
			</svg>
		</header>
	</div>
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>
	<%= yield %>
</body>
</html>
